@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-section {
  display: flex;
}

.info {
  font-size: 1.6rem;
  width: 30%;
  height: 100vh;
  padding-bottom: 5px;
  border-right: 2px solid #eee;
  background-color: var(--black);
  color: #eee;
}

.info h2 {
  font-size: 3.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.info ol {
  padding-left: 15px;
  padding-top: 10px;
  color: #eee;
}

.info ol a {
  color: var(--color-primary);
  text-decoration: none;
}

.title {
  position: relative;
  margin: 5px 0;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 2px;
  background-color: #eee;
}

.download-link {
  width: 70%;
  border-right: 5px;
  padding-top: 5rem;
}

.download-link section {
  border: 2px solid var(--black);
  border-radius: 0 0 5px 5px;
}

main h1 {
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5rem;
  color: var(--color-primary);
  text-align: center;
  padding-bottom: 1rem;
}

main input[type='radio'] {
  display: none;
}

main nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eee;
  padding: 5px;
  position: relative;
  background-color: var(--black);
  z-index: 1;
}

main nav label {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  position: relative;
  color: var(--white);
  cursor: pointer;
}

main nav label i {
  padding-right: 0.5rem;
  color: var(--white);
}

nav .slider {
  position: absolute;
  top: 0;
  left: 3%;
  width: 26%;
  padding: 0 1rem;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 3px;
  z-index: -1;
  transition: all 0.3s;
}

#register:checked ~ nav .slider {
  left: 35%;
}

#reset:checked ~ nav .slider {
  left: 70%;
}

#login:checked ~ nav label.login,
#register:checked ~ nav label.register,
#reset:checked ~ nav label.reset {
  color: #ffff;
}

.content {
  display: none;
}

#login:checked ~ section .link {
  display: block;
}

#register:checked ~ section .audio {
  display: block;
}

#reset:checked ~ section .video {
  display: block;
}

section .content {
  margin: 3rem auto;
  text-align: center;
}

.content > i {
  font-size: 3rem;
  color: var(--color-primary);
  border: 2px solid;
  padding: 0.8rem;
  border-radius: 5px;
}

.content h2 {
  font-size: 2rem;
  line-height: 2;
  padding: 0 1rem;
  position: relative;
}

.content p {
  padding-bottom: 1rem;
}

.content form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content form label {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.content form label input {
  display: block;
  width: 100%;
  padding: 1.3rem 3rem;
  border: 1px solid transparent;
  border-radius: 10px 0 10px 0;
  border-bottom: 2px solid var(--dark-grey);
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--white);
  transition: all 0.3s;
}

.content form label input:focus:focus {
  color: var(--dark-grey);
}

.content form label input:focus:invalid {
  font-size: 1.6rem;
  border-bottom: 2px solid red;
}

.content form label input:focus:valid {
  font-size: 1.6rem;
  border-bottom: 2px solid rgb(0, 255, 0);
  background-color: #eee;
}

.content form i {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 1.3rem;
  color: var(--color-primary);
}

::placeholder {
  color: var(--white);
  font-size: 1.5rem;
}

.embed {
  font-size: 1.6rem;
  position: relative;
}

.content form textarea {
  width: 100%;
  height: 10rem;
  outline: none;
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
}

.embed-code span {
  position: absolute;
  right: 1px;
  bottom: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--dark-grey);
  padding: 5px 8px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all 0.3s;
}

.embed-code span:hover {
  font-size: 1.8rem;
}

.content .btn:hover {
  transform: translateY(-3px);
  background-color: var(--light-blue);
}

button.clear {
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--color-primary);
  padding: 0.8rem;
  margin-top: 1rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

button.clear:hover {
  background-color: var(--light-blue);
}

.btn {
  background-color: var(--color-primary);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  .main-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .info {
    display: none;
  }
  .download-link {
    width: 100%;
    padding-bottom: 20px;
  }
  .download-link h1 {
    font-size: 3rem;
    line-height: 1;
  }
}
